{% extends 'base.html.twig' %}

{% block title %}{{ trick.slug }}{% endblock %}

{% block content %}

    <div class="row">
    <div class="container">
        <h3>Modifier un article</h3>
        {{ form_start(form) }}
        {{ form_widget(form._token) }}
        <div class="form-group">
            <div class="container">
                {{ include("parts/form/_form_update.html.twig", { form: form }) }}
            </div>
        </div>
        <div class="">
            <button class="btn btn-block btn-lg btn-primary">Modifier</button>
        </div>
        {{ form_end(form, { render_rest: false }) }}
    </div>

{% endblock %}

{% block customJavascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    <script>
        $(function() {
            $(".btn-add").on("click", function () {
                var placeholder = $($(this).data("target"));
                var prototype = placeholder.data("prototype");
                var index = placeholder.data("index");

                placeholder.append(prototype.replace(/__name__/g, index));

                index++;

                placeholder.data("index", index);
            });

            $("body").on("click", ".btn-remove", function () {
                $($(this).data("target")).remove();
            });
        });
        $(document).on('change', '.custom-file-input', function () {
            let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
            $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
        });

                $( document ).ready(function() {
            let page = 1;
            let trick = 0;
            $('#trick_description').summernote(
                {
                    placeholder: 'Saisissez ici votre chapo et mettez le en page',
                }
            );
            $('#trick_metadescription').summernote(
                {
                    placeholder: 'Saisissez ici votre contenu et mettez le en page Pas d\'image',
                }
            )})
    </script>
{% endblock %}