
<div  class="container ">
    {{ form_row(form.title) }}

    <button class="btn btn-primary btn-add mx-auto" type="button" data-target="#images">Ajouter une image</button>
    <div
            id="images"
            class="row p-0"
            data-index="{{ form.images|length == 0 ? 0 : form.images|last.vars.name + 1  }}"
            data-prototype="{{ include("parts/form/add_trick_image.html.twig", { form: form.images.vars.prototype })|e("html_attr") }}"
    >
        {% for key,image in form.images %}
            {{ include("parts/form/add_trick_image.html.twig", { form: image })}}
        {% endfor %}
    </div>

    {{ form_row(form.description) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.metaTitle) }}
    {{ form_row(form.metaDescription) }}
    {{ form_row(form.valid) }}


</div>