{% block trickbyauthor %}

    {% for trick in tricks  %}
        <div class=" mb-2 row trick">
            <h3 class="text-center col-sm-3">{{ trick.title }}</h3>
            {% for  image in trick.images %}
                {% if loop.first %}<img src="{{ asset( image.path ) }}" class="col-sm-2" alt="...">{% endif %}
            {% endfor %}

            <div class="col-sm-4">
                {% autoescape %}
                    {{ trick.description|raw|slice(0,50)}}...
                {% endautoescape %}
            </div>
            {% if is_granted('edit',trick) %}
                <div class=" text-right col-sm-2">
                    <a class="mx-1 text-warning" href=" {{ path('trick.update',{id: trick.id}) }} "><i class="fa fa-pen" aria-hidden="true"></i>
                    </a>
                    <a class="float-right" href="{{ path('trick.show',{slug: trick.slug}) }}" title="voir {{ trick.title }}">Voir plus</a>
                </div>
            {% endif %}
            {% if is_granted('delete',trick) %}
                <div class=" text-right col-sm-1">
                    <a class="mx-1 text-danger" href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal_{{ trick.id }}" ><i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </div>
            {% endif %}
            <!-- Modal -->
            <div class="modal fade" id="deleteModal_{{ trick.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal_{{ trick.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Erase this trick</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <a class="mx-1 btn btn-danger" href="{{ path('trick.delete',{id: trick.id}) }}">YES</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endfor %}

{% endblock %}