<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - My Webpage</title>
        {{ include('/parts/head_block.html.twig') }}
    </head>
<body class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="{{ asset('images/logo.png') }}" id="logo" alt="logo snowtrick"><a class="navbar-brand" href="{{ path("home") }}">SnowTricks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("home") }}">Accueil</a>
            </li>
            {% if is_granted('ROLE_ADMIN') == TRUE %}
                <li class="nav-item">
                    <a class="nav-link" href="#">gérer les Utilisateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("trick.create") }}">Ajouter un trick</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="{{ path("trick.list") }}">Gérer les tricks</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gérer les commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_logout") }}">Déconnexion</a>
                </li>
            {% elseif is_granted('ROLE_USER') == TRUE %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("trick.create") }}">Ajouter un trick</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("trick.list") }}">mes tricks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_logout") }}">Déconnexion</a>
                </li>
            {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="#">inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_login") }}">Connexion</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block content %}{% endblock %}
<div id="footer">
    {% block footer %}
        &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
</div>
{# {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %} #}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
{% block customJavascripts %}{% endblock %}
</body>
</html>
