{% block fortricks %}
<div id="forTricks_{{ page }}" class="container mx-auto row my-3 ">
    {% for trick in tricks  %}
        <div id="tricks_{{ trick.id }}" class=" mb-2 col-sm-6 col-md-4 col-lg-3 trick">
            <h3 class="text-center trick_title">{{ trick.slug }}</h3>
            {% for  image in trick.images %}
                {% if loop.first %}<img src="{{ asset( image.path ) }}" class="card-img-top img_trick" alt="...">{% endif %}
            {% endfor %}
            <div class="card-body">
                {% autoescape %}
                    {{ trick.description|raw|slice(0,50)}}...
                {% endautoescape %}
                <a class="float-right" href="" title="voir {{ trick.title }}">Voir plus</a>
            </div>
            <div class="card-footer mt-2 text-right">
                <a class="mx-1" href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Erase this trick</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <a class="mx-1 btn btn-danger" href="{{ path('trick.delete',{slug: trick.slug}) }}">YES</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}